/* Custom styling for the scoreboard */

/* Text */
h1, h2, h3, h4 {
    font-weight: 700;
    font-family: Roboto Slab,Times New Roman,serif;
}

body {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

#main-title {
    padding: 40px 20px 40px 20px;
}

/* fixes for mobile */
#scoreNotifications {
    padding-bottom: 20px;
}
#dropdownMenuButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Fixed for Safari mobile browser */
.row:before, .row:after {
    display: flex !important;
}